<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PriceScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}">
</head>

<body>
    {% include '/navigbar/nosessionbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="toast-container">
        {% for category, message in messages %}
        <div class="toast toast-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="landing">
        <h1>PriceScout</h1>
        <h3>The one-stop solution to quickly and accurately estimate the value of second hand items</h3>
        <p id = 'landingpara'>Our platform offers a seamless valuation experience for mobile phones, laptops, and vehicles. Share your device details, and our system will provide an estimated value based on key factors. Explore the features, submit your items, and enjoy the convenience of swift valuations!</p>
    </div>
    <div class="container">
        <a href="/postdata/cars">
            <div class="box">
                <h2>Cars</h2>
                <p>Estimate your vehicle's value</p>
            </div>
        </a>

        <a href="/postdata/laptops">
            <div class="box">
                <h2>Laptops</h2>
                <p>Estimate your laptop's value</p>
            </div>
        </a>

        <a href="/postdata/mobiles">
            <div class="box">
                <h2>Mobiles</h2>
                <p>Estimate your mobile's value</p>
            </div>
        </a>
    </div>
    <script src="{{ url_for('static', filename='script/toast.js') }}"></script>
</body>

</html>